/* Google Font CDN */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
    font-family: "Inter", sans-serif;
}
.madu{
     font-family: "Hind Madurai", sans-serif;
}
.box{
   
    height: 260px;
}
#box-4{
    
}